<h1>
  <%= image_tag("#{@configuration.base_url}w154#{@poster_path}") if @tv_show["poster_path"] %>
  <%= @tv_show["name"] %>
</h1>
<div class="btn btn-primary">Track</div>
<div class="btn btn-success">Tracking</div>
<div class="btn btn-primary">Watched</div>
<div class="btn btn-success">Watched</div>