<p>
  Welcome to Trackerman <%= @user.name %>,

  Please click this link to activate your account:
</p>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
 